<a href="https://colab.research.google.com/github/Alenushka2013/MLforPeople/blob/main/Lecture_3_1_3_3_Pandas_and_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

У цій лекції познайомимось з бібліотекою pandas, її основними структурами, що з ними можна робити.   
Також дізнаємось про бібліотеку для роботи з векторами і матрицями - numpy, як вона повʼязана з pandas і як її можна використовувати для роботи з табличними даними.

## Що таке Pandas?

**`Pandas`** - високорівнева бібліотека на Python, призначена для дослідження, очищення, оброблення та аналізу даних, що зберігаються в табличному форматі (.csv, .tsv, .xlsx та ін.) або базах даних.

Pandas - основний інструмент роботи з табличними даними для Data Analysis та Data Science фахівця. Ми використовуємо Pandas щодня для **аналізу даних, маніпуляцій над ними та побудови моделей на них**.

Pandas гнучкіший за Excel і дає змогу ефективно працювати з великими таблицями. Проста інтеграція Pandas з Numpy (Numeric Python - бібліотека для обчислень над векторами і матрицями), Matplotlib, Seaborn (бібліотеки візуалізації), scikit-learn (бібліотека з великою кількістю реалізованих методів машинного навчання) робить його незамінним під час розв'язання задач аналізу даних та ML задач на табличних даних.

Спершу перевіряємо, чи встановлені у вас pandas i numpy. Бібліотеки можуть бути встановлені через pip, якщо ви колись встановили їх самостійно, перевірити наступним чином

In [ ]:
! conda list pandas

In [ ]:
! conda list numpy

Якщо у Вас пакет анаконда - бібліотеки можуть бути встановлені за замовченням в базовому оточенні. Перевірити наявність бібліотек - наступним чином.

In [ ]:
! pip show pandas

In [ ]:
! pip show numpyr

Якщо щось повернулось, значить - є ці бібліотеки. Якщо повернулось повідомлення "Package(s) not found" - встановлюємо одним зі способів:

In [ ]:
! pip install pandas numpy

In [ ]:
! conda install pandas numpy

# Імпорт бібліотек

Є така конвенція, що імпортуємо ми pandas саме наступним чином з перейменуванням:

In [1]:
import numpy as np
import pandas as pd

Так теж буде працювати, але так не прийнято:

In [ ]:
import pandas
from pandas import *

# Основні структури даних у бібліотеці

**`Series`** - одновимірний індексований масив даних деякого                фіксованого типу.

**`DataFrame`** - двовимірна структура даних, що являє собою таблицю, кожен стовпець якої містить дані одного типу. DataFrame можна розуміти як словник об'єктів типу Series. Структура DataFrame добре підходить для зберігання реальних табличних даних: рядки відповідають описам окремих об'єктів, а стовпці відповідають ознакам.

![](https://drive.google.com/uc?export=view&id=1MAi0fPWBlwmmirRvDRFahhvC7xKwSitZ)

![](https://drive.google.com/uc?export=view&id=1zQRemyTmUNwIuzGbIoLJq8vfJUwy7lHW)

# Дані для роботи

З pandas ми працюємо з табличними даними. В цьому ноутбуці ми будемо працювати з даними зі [змагання на Kaggle](https://www.kaggle.com/datasets/anmolkumar/health-insurance-cross-sell-prediction?select=train.csv).   

Опис даних:


Оригінальна назва | Змінна           | Визначення
------------------|------------------|---------------------------------------------
id                | id               | Унікальний ідентифікатор клієнта
Gender            | Стать            | Стать клієнта
Age               | Вік              | Вік клієнта
Driving_License   | Водійське посвідчення | 0: Клієнт не має водійського посвідчення, 1: Клієнт вже має водійське посвідчення
Region_Code       | Код регіону      | Унікальний код регіону клієнта
Previously_Insured | Раніше мали страховку | 1: Клієнт вже мав страховку автомобіля, 0: Клієнт не мав страховку автомобіля
Vehicle_Age       | Вік автомобіля   | Вік автомобіля
Vehicle_Damage    | Пошкодження автомобіля | 1: Клієнт отримав/ла шкоду на своєму автомобілі в минулому, 0: Клієнт не отримав/ла шкоду на своєму автомобілі в минулому
Annual_Premium    | Річний преміум   | Сума, яку клієнт повинен сплатити як преміум за рік
Policy_Sales_Channel | Канал продажу полісу | Анонімізований код для каналу звернення до клієнта, тобто різні агенти, поштою, по телефону, особисто і т. д.
Vintage           | Стаж             | Кількість днів, протягом яких клієнт пов'язаний з компанією
Response          | Відповідь        | 1: Клієнт зацікавлений, 0: Клієнт не зацікавлений

Суть аналізу цих даних - вичвити чи буде цікава людині, в якої є медичне страхування, страховка на транспортний засіб.
Побудова системи прийняття рішень для прогнозування того, чи зацікавить клієнта страхування транспортних засобів, надзвичайно корисна для компанії, оскільки вона може відповідно спланувати свою комунікаційну стратегію, щоб охопити цих клієнтів і оптимізувати свою бізнес-модель і дохід.
Щоб передбачити, чи зацікавить клієнта страхування транспортного засобу, у нас є інформація про демографічні дані (стать, вік, код регіону), інформація про транспортні засоби (вік транспортного засобу, пошкодження), поліс (його вартість, канал постачання) тощо.

Завантажуємо датасет `health_insurance_cross_sell_prediction` собі у папку `data/` на рівні з папкою з ноутбуками. Тобто рекоменудую мати таку організацію ваших файлів
```
- data/  
  -- dataset_1.csv  
  -- dataset_2.csv  
- lectures/
  -- notebook_1.ipynb
  -- notebook_2.ipynb
- hometasks/
  -- hw_notebook_1.ipynb
  -- hw_notebook_2.ipynb
```

# Читання даних з файлу

Коли ми працюємо з даними в Python, зазвичай нам потрібно зчитати їх з зовнішніх джерел. Одним з найпоширеніших форматів файлів для збереження даних є CSV (Comma-Separated Values), адже він є досить простим та зрозумілим для багатьох програм та інструментів.

У бібліотеці pandas для зчитування даних з CSV файлів ми використовуємо функцію `read_csv()`. Ця функція автоматично розпізнає роздільник полів (зазвичай це кома) та створює DataFrame з отриманими даними. Вона надає широкі можливості налаштування, такі як вибір рядка-заголовка, вказання конкретних стовпців, обробка пропущених значень, визначення типів даних та багато іншого.

Щоб прочитати дані з інших форматів файлів, таких як Excel, JSON, HTML, SQL, в бібліотеці pandas також існують відповідні функції, які починаються з `read_`, наприклад: `read_excel()`, `read_json()`, `read_html()`, `read_sql()` тощо.

Більше інформації про різні методи зчитування даних в бібліотеці pandas можна знайти у [офіційній документації](https://pandas.pydata.org/pandas-docs/stable/reference/io.html).

Для зчитування файлу нам треба вказати шлях до нього і додаткові параметри.

## Як отримати шлях до файлу?

Одним із способів отримання шляху до файлу є використання методу os.listdir(), який доступний в модулі os. Цей метод дозволяє отримати список файлів та папок у поточній директорії (місці, де знаходиться виконуваний Python процес).

In [2]:
import os
os.listdir()

['.config', 'sample_data']

Ми можемо вказувати в дужках шлях до різних папок і так знайти, в якій саме лежить наш файл.

In [ ]:
os.listdir('../data/')

Давайте зачитаємо наші дані у змінну, яка матиме тип `pd.DataFrame`.

In [3]:
data_path = '/content/health_insurance_cross_sell_prediction.csv'
df = pd.read_csv(data_path)

In [4]:
type(df)

pandas.core.frame.DataFrame

Для початку дивимося на розмір датасету.

In [5]:
df_shape = df.shape

In [6]:
df_shape

(381109, 12)

Набір даних досить великий, тому очима його весь переглядати точно буде проблематично ;)
До слова, набір даних може бути настільки великим, що не вміщатись у оперативну памʼять компʼютера. Як це зрозуміти? У набора даних є розмір, який він займає в памʼяті:

In [7]:
df.memory_usage()

Index                       132
id                      3048872
Gender                  3048872
Age                     3048872
Driving_License         3048872
Region_Code             3048872
Previously_Insured      3048872
Vehicle_Age             3048872
Vehicle_Damage          3048872
Annual_Premium          3048872
Policy_Sales_Channel    3048872
Vintage                 3048872
Response                3048872
dtype: int64

In [8]:
df.memory_usage().sum()

np.int64(36586596)

Таким чином ми отримали кількість байтів, які займають дані. Аби перевести це значення в мегабайти, виконаємо наступний код.

In [9]:
total_bytes = df.memory_usage().sum()
total_megabytes = total_bytes / (1024 * 1024)
total_megabytes

np.float64(34.89169692993164)

Під час роботи може бути доцільно зчитати частину даних - це можна зробити наступним чином

In [10]:
pd.read_csv(data_path, nrows=100)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Female,23,1,30.0,0,< 1 Year,No,26689.0,152.0,254,0
96,97,Male,50,1,28.0,0,1-2 Year,Yes,46995.0,52.0,291,0
97,98,Female,62,1,28.0,0,> 2 Years,Yes,41892.0,155.0,114,0
98,99,Female,21,1,2.0,0,< 1 Year,Yes,34274.0,152.0,79,0
99,100,Female,24,1,7.0,1,< 1 Year,Yes,2630.0,160.0,68,0

# Перегляд набору даних
Зверніть увагу, за замовченням у нас датафрейм відображається як перші і останні 5 рядочків. А що якщо нам треба переглянути конкретну кількість конкретних рядочків в ньому?  

Загалом, під час роботи з великими даними зручно дивитися датафрейм частинами. Та й якщо дивитися повністю може підвиснути браузер, бо чим більше показуємо даних, тим більший розімір ноутбуку.

Як дивитись датафрейм частинами:

In [11]:
df.head(1)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1

In [12]:
df.tail(2)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0

In [13]:
df

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,1,26.0,1,1-2 Year,No,30170.0,26.0,88,0
381105,381106,Male,30,1,37.0,1,< 1 Year,No,40016.0,152.0,131,0
381106,381107,Male,21,1,30.0,1,< 1 Year,No,35118.0,160.0,161,0
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0

In [14]:
df[100:110:2]

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
100,101,Male,52,1,28.0,1,1-2 Year,No,36033.0,26.0,92,0
102,103,Female,20,1,30.0,0,< 1 Year,Yes,33227.0,160.0,78,0
104,105,Male,29,1,41.0,1,< 1 Year,Yes,43046.0,163.0,222,0
106,107,Female,23,1,41.0,1,< 1 Year,No,36674.0,152.0,158,0
108,109,Male,72,1,46.0,1,1-2 Year,Yes,28698.0,30.0,216,0

## Перегляд окремих рядків даних

Якщо ми хочемо вивест конкретний елемент (рядок) - це можна зробити наступним чином:

In [15]:
df[100:101]

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
100,101,Male,52,1,28.0,1,1-2 Year,No,36033.0,26.0,92,0

In [16]:
pd.DataFrame(df.loc[100]).T

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
100,101,Male,52,1,28.0,1,1-2 Year,No,36033.0,26.0,92,0

Є ще одна функція iloc. Якщо loc виводить елемент з обраним індексом, то iloc виводить елемент з обраною позицією.

In [17]:
df[100:110:2].iloc[1]

id                           103
Gender                    Female
Age                           20
Driving_License                1
Region_Code                 30.0
Previously_Insured             0
Vehicle_Age             < 1 Year
Vehicle_Damage               Yes
Annual_Premium           33227.0
Policy_Sales_Channel       160.0
Vintage                       78
Response                       0
Name: 102, dtype: object

А так буде помилка

In [ ]:
df[100:110:2].iloc[100]

## Колонки і їх типи

Наступний етап знайомства з дании - дізнатись, які у нас типи даних у колонках.

In [18]:
df.dtypes

id                        int64
Gender                   object
Age                       int64
Driving_License           int64
Region_Code             float64
Previously_Insured        int64
Vehicle_Age              object
Vehicle_Damage           object
Annual_Premium          float64
Policy_Sales_Channel    float64
Vintage                   int64
Response                  int64
dtype: object

**Увага!** Тип колонки `object` dtype, який може містити будь-який об'єкт Python, включаючи рядки. Наприклад, може зберігати тип даних - список чи кортеж значень.

Усі типи даних колонок можна переглянути тут: https://pandas.pydata.org/docs/user_guide/basics.html#dtypes

А так можна подивитися тільки на назви колонок, якщо треба. Зазвичай це часто використовується під час роботи з набором даних.

In [19]:
df.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')

## Опис даних в колонках

Ще один корисний метод для знайомства з даними.
За допомогою методу `describe` можемо переглянути основні статистичні характеристики даних за кожною ознакою:   
- число заповнених (не NaN) значень,
- середнє,
- стандартне відхилення,
- діапазон,
- медіану,
- 0.25 і 0.75 квартилі (можна змінити набір персентилів)

In [20]:
df.describe()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000
mean,190555.000000,38.822584,0.997869,26.388807,0.458210,30564.389581,112.034295,154.347397,0.122563
std,110016.836208,15.511611,0.046110,13.229888,0.498251,17213.155057,54.203995,83.671304,0.327936
min,1.000000,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,95278.000000,25.000000,1.000000,15.000000,0.000000,24405.000000,29.000000,82.000000,0.000000
50%,190555.000000,36.000000,1.000000,28.000000,0.000000,31669.000000,133.000000,154.000000,0.000000
75%,285832.000000,49.000000,1.000000,35.000000,1.000000,39400.000000,152.000000,227.000000,0.000000
max,381109.000000,85.000000,1.000000,52.000000,1.000000,540165.000000,163.000000,299.000000,1.000000

Аби було зручніше переглядати, можемо змінити форматування відображення float даних:

In [21]:
with pd.option_context("display.precision", 2):
    display(df.describe())

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,381109.00,381109.00,381109.00,381109.00,381109.00,381109.00,381109.00,381109.00,381109.00
mean,190555.00,38.82,1.00,26.39,0.46,30564.39,112.03,154.35,0.12
std,110016.84,15.51,0.05,13.23,0.50,17213.16,54.20,83.67,0.33
min,1.00,20.00,0.00,0.00,0.00,2630.00,1.00,10.00,0.00
25%,95278.00,25.00,1.00,15.00,0.00,24405.00,29.00,82.00,0.00
50%,190555.00,36.00,1.00,28.00,0.00,31669.00,133.00,154.00,0.00
75%,285832.00,49.00,1.00,35.00,1.00,39400.00,152.00,227.00,0.00
max,381109.00,85.00,1.00,52.00,1.00,540165.00,163.00,299.00,1.00

## Що таке персентилі і для чого вони потрібні?

Персентиль — це міра статистики, яка використовується для визначення значення, нижче якого падає певний відсоток спостережень у групі.

Наприклад, якщо запис (обране значення з даних) потрапляє в 20-й процентиль, це означає, що 20 відсотків усіх наявних даних дорівнюють або нижчі за це значення.
Якщо значення знаходиться в 90-му процентилі, це означає, що 90 відсотків усіх інших значень були рівними або нижчими за це значення. Тож, якщо ви отримаєте оцінку на тесті, яка є вище, ніж у 90% інших студентів, ваш результат вважається 90-м персентилем.

У статистиці процентили знаходять, беручи великий набір числових даних, упорядковуючи їх у порядку зростання, а потім розділяючи на 100 груп з рівною кількістю точок даних. Кожна з 99 точок поділу називається процентилем набору даних.
Візуалізація 10-го персентиля:

![](https://drive.google.com/uc?export=view&id=1VgDEjDLcAaPbIZVia6f8Fk_4x3Vt6MTr)

![](https://drive.google.com/uc?export=view&id=1xrWwZmeIFehFn8yScioXr4G2vrVX59cg)

Персентилі при аналізі даних допомагають зрозуміти розподіл даних, відкринути викиди. Ми можемо налаштувати, які персентилі хочемо побачити

In [22]:
with pd.option_context("display.precision", 2):
    display(df.describe(percentiles=[0.01, 0.1, 0.2, 0.5, 0.7, 0.9, 0.99]))

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,381109.00,381109.00,381109.00,381109.00,381109.00,381109.00,381109.00,381109.00,381109.00
mean,190555.00,38.82,1.00,26.39,0.46,30564.39,112.03,154.35,0.12
std,110016.84,15.51,0.05,13.23,0.50,17213.16,54.20,83.67,0.33
min,1.00,20.00,0.00,0.00,0.00,2630.00,1.00,10.00,0.00
1%,3812.08,20.00,1.00,2.00,0.00,2630.00,8.00,12.00,0.00
10%,38111.80,22.00,1.00,8.00,0.00,2630.00,26.00,38.00,0.00
20%,76222.60,24.00,1.00,11.00,0.00,21583.60,26.00,68.00,0.00
50%,190555.00,36.00,1.00,28.00,0.00,31669.00,133.00,154.00,0.00
70%,266776.60,47.00,1.00,31.00,1.00,37548.00,152.00,212.00,0.00
90%,342998.20,62.00,1.00,46.00,1.00,48431.00,156.00,270.00,1.00
99%,377297.92,77.00,1.00,50.00,1.00,72963.00,160.00,297.00,1.00
max,381109.00,85.00,1.00,52.00,1.00,540165.00,163.00,299.00,1.00

## Вибір колонок

Щоб вибрати одну колонку датафрейма, ви можете використовувати синтаксис подібний до словника:

In [23]:
df.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')

In [24]:
df['Gender']

0           Male
1           Male
2           Male
3           Male
4         Female
           ...
381104      Male
381105      Male
381106      Male
381107    Female
381108      Male
Name: Gender, Length: 381109, dtype: object

Ви також можете вибрати колонку через крапку (як атрибут інстанса класа датафрейма), але тільки якщо назва колонки складається з латинських літер, чисел і нижніх підкреслень.
Перевага цього способу вибору колонки - тут працюють підказки.

In [25]:
df.Gender

0           Male
1           Male
2           Male
3           Male
4         Female
           ...
381104      Male
381105      Male
381106      Male
381107    Female
381108      Male
Name: Gender, Length: 381109, dtype: object

In [26]:
df.Driving_License

0         1
1         1
2         1
3         1
4         1
         ..
381104    1
381105    1
381106    1
381107    1
381108    1
Name: Driving_License, Length: 381109, dtype: int64

In [27]:
df["Нова колонка"] = 1

In [28]:
df['Нова колонка']

0         1
1         1
2         1
3         1
4         1
         ..
381104    1
381105    1
381106    1
381107    1
381108    1
Name: Нова колонка, Length: 381109, dtype: int64

In [ ]:
df.Нова колонка

In [29]:
df.drop(columns=["Нова колонка"], inplace=True)

Щоб вибрати декілька колонок, передайте список з іменами колонок:

In [30]:
df[['Region_Code', 'Gender']]

        Region_Code  Gender
0              28.0    Male
1               3.0    Male
2              28.0    Male
3              11.0    Male
4              41.0  Female
...             ...     ...
381104         26.0    Male
381105         37.0    Male
381106         30.0    Male
381107         14.0  Female
381108         29.0    Male

[381109 rows x 2 columns]

Увага! Щоразу після фільтрації у вас вертається pd.DataFrame або pd.Series (одна колонка). І ви можете далі робити з ними всі ті самі операції, що і над будь-яким датафреймом (наприклад, фільтрація, сортування, агрегація і тд). Можете також записати результат в нову змінну.

In [31]:
df_selected_cols = df[['Region_Code', 'Gender', 'Age']]

In [32]:
df_selected_cols

        Region_Code  Gender  Age
0              28.0    Male   44
1               3.0    Male   76
2              28.0    Male   47
3              11.0    Male   21
4              41.0  Female   29
...             ...     ...  ...
381104         26.0    Male   74
381105         37.0    Male   30
381106         30.0    Male   21
381107         14.0  Female   68
381108         29.0    Male   46

[381109 rows x 3 columns]

In [33]:
df_selected_cols[1000:1100]['Age'][0:10][0:5:2].astype(str)

1000    49
1002    26
1004    49
Name: Age, dtype: object

## Перегляд значень в категоріальних колонках

Метод describe() автоматично спрацьовує для колонок з числовими значеннями, аби для дат. Для колонок з категоріальними значеннями (рядковими), можемо скористатись наступним.

Для початку виберемо такі колонки.

In [34]:
df.select_dtypes('object')

        Gender Vehicle_Age Vehicle_Damage
0         Male   > 2 Years            Yes
1         Male    1-2 Year             No
2         Male   > 2 Years            Yes
3         Male    < 1 Year             No
4       Female    < 1 Year             No
...        ...         ...            ...
381104    Male    1-2 Year             No
381105    Male    < 1 Year             No
381106    Male    < 1 Year             No
381107  Female   > 2 Years            Yes
381108    Male    1-2 Year             No

[381109 rows x 3 columns]

Альтернативно обрати лише числові колонки ми можемо наступним чином:

In [35]:
df.select_dtypes('number')

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,44,1,28.0,0,40454.0,26.0,217,1
1,2,76,1,3.0,0,33536.0,26.0,183,0
2,3,47,1,28.0,0,38294.0,26.0,27,1
3,4,21,1,11.0,1,28619.0,152.0,203,0
4,5,29,1,41.0,1,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...
381104,381105,74,1,26.0,1,30170.0,26.0,88,0
381105,381106,30,1,37.0,1,40016.0,152.0,131,0
381106,381107,21,1,30.0,1,35118.0,160.0,161,0
381107,381108,68,1,14.0,0,44617.0,124.0,74,0
381108,381109,46,1,29.0,0,41777.0,26.0,237,0

Тож, нижче наші "категоріальні" колонки.

In [36]:
df.select_dtypes('object').columns

Index(['Gender', 'Vehicle_Age', 'Vehicle_Damage'], dtype='object')

Переглянемо униікальні значення в колонці.

In [37]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

Так можемо дізнатись, скільки в колонці унікальних значень.

In [38]:
df.Vehicle_Age.nunique()

3

А так можемо переглянути, скільки в колонці значень за кожною категорією.

In [39]:
df.Vehicle_Age.value_counts()

Vehicle_Age
1-2 Year     200316
< 1 Year     164786
> 2 Years     16007
Name: count, dtype: int64

Над Series ви легко можете виконувати операції. Наприклад, давайте знйдемо, який відсоток становить кожне значення.

In [40]:
gender_counts = df.Gender.value_counts()

In [41]:
gender_counts

Gender
Male      206089
Female    175020
Name: count, dtype: int64

In [42]:
gender_counts/gender_counts.sum()

Gender
Male      0.540761
Female    0.459239
Name: count, dtype: float64

Те саме ми могли б отримати викликом `value_counts` з аргументом `normalize=True`.

In [43]:
df.Gender.value_counts(normalize=True)

Gender
Male      0.540761
Female    0.459239
Name: proportion, dtype: float64

До речі, арифметичні операції (додавання числа, віднімання числа, множення і делення на число) виконується в pd.Series для всіх рядків одразу, на відміну від списків, де нам треба скористатись циклом.

In [44]:
example = pd.Series(range(100))

In [45]:
example

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [46]:
example + 3

0       3
1       4
2       5
3       6
4       7
     ...
95     98
96     99
97    100
98    101
99    102
Length: 100, dtype: int64

In [47]:
list_example = list(range(3))

In [48]:
# list_example

In [49]:
example * 5

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

В цьому - зручність роботи з даними на Pandas. **Тут для операцій над колонками вам цикли не треба.** Примайнмі, для простих операцій.

# Фільтрація даних

Фільтрація даних в Pandas — це потужний спосіб вибірки підмножини даних на основі однієї або декількох умов.
Це може включати вибір рядків, які відповідають певним критеріям, або виключення даних, які не відповідають заданим умовам.
Фільтрацію можна здійснювати за допомогою логічних операторів та булевих індексів, методів `.query()`, `.loc[]`, `.iloc[]`.

## Використання логічних умов

Для фільтрації за однією або декількома умовами можна використовувати логічні оператори (`&` для "і", `|` для "або", `~` для "не"). При цьому важливо обгортати кожну умову в круглі дужки. Наприклад, ми хочемо проаналізувати як рішення взяти страхування відрізняється між чоловіками різного віку. Переглянемо для початку, як розподілений вік чоловіків в наборі даних і порівняємо чоловіків віку між 25 і 75 перцентилями і решту.

In [50]:
df[df.Gender =='Male'].Age.describe()

count    206089.000000
mean         40.903095
std          15.449718
min          20.000000
25%          26.000000
50%          41.000000
75%          52.000000
max          85.000000
Name: Age, dtype: float64

In [51]:
df[df.Gender =='Female'].Age.describe()

count    175020.000000
mean         36.372746
std          15.223969
min          20.000000
25%          24.000000
50%          30.000000
75%          46.000000
max          85.000000
Name: Age, dtype: float64

In [52]:
df.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')

In [53]:
filter_1 = (df.Gender =='Male') & (df.Age >= 26) & (df.Age <= 52)
df[filter_1].Response.value_counts(normalize=True)

Response
0    0.815225
1    0.184775
Name: proportion, dtype: float64

In [54]:
filter_2 = (df.Gender =='Male') & ((df.Age < 26) | (df.Age > 52))
df[filter_2].Response.value_counts(normalize=True)

Response
0    0.911723
1    0.088277
Name: proportion, dtype: float64

Можемо побачити, що група чоловіків молодша 26 і старша 52 майже вдвічі рідше дають позитивне рішенння щодо страхування авто.

## Метод `.query()`

Метод `.query()` дозволяє виконувати фільтрацію, використовуючи рядкові вирази. Це може бути зручніше для складних умов фільтрації - тоді умова є компактнішою.

In [55]:
df.query('Gender == "Male" & Age >= 26 & Age <= 52').Response.value_counts(normalize=True)

Response
0    0.815225
1    0.184775
Name: proportion, dtype: float64

In [56]:
df.query('Gender =="Male" & ((Age < 26) | (Age > 52))').Response.value_counts(normalize=True)

Response
0    0.911723
1    0.088277
Name: proportion, dtype: float64

# Сортування даних

DataFrame можна відсортувати за значенням однієї або декількох ознак (колонок).

In [57]:
df.sort_values(by="Age", ascending=False).head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
213099,213100,Female,85,1,28.0,0,1-2 Year,Yes,2630.0,26.0,290,0
150129,150130,Male,85,1,48.0,0,1-2 Year,Yes,2630.0,124.0,37,0
229103,229104,Female,85,0,28.0,1,1-2 Year,No,27057.0,26.0,65,0
109851,109852,Female,85,1,50.0,0,1-2 Year,Yes,26475.0,124.0,114,0
137703,137704,Female,85,1,28.0,0,1-2 Year,Yes,51045.0,124.0,147,0

Зверніть увагу на індекси. Вони розташувались в порядку сортування.

Для сорутвання за кількома колонками - передаємо їх списком.

In [58]:
df.sort_values(by=["Age", "Annual_Premium"], ascending=[True, False]).head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
71046,71047,Female,20,1,47.0,0,< 1 Year,No,152866.0,160.0,285,0
165841,165842,Female,20,1,28.0,1,< 1 Year,No,117057.0,160.0,172,0
199087,199088,Male,20,1,13.0,0,< 1 Year,Yes,100227.0,160.0,11,0
58455,58456,Female,20,1,36.0,0,< 1 Year,Yes,99950.0,160.0,14,0
275348,275349,Female,20,1,28.0,0,1-2 Year,Yes,99021.0,26.0,90,0

Можемо також впорядкувати назви колонок або індекси.

In [59]:
df.sort_index(axis=1).head()

,Age,Annual_Premium,Driving_License,Gender,Policy_Sales_Channel,Previously_Insured,Region_Code,Response,Vehicle_Age,Vehicle_Damage,Vintage,id
0,44,40454.0,1,Male,26.0,0,28.0,1,> 2 Years,Yes,217,1
1,76,33536.0,1,Male,26.0,0,3.0,0,1-2 Year,No,183,2
2,47,38294.0,1,Male,26.0,0,28.0,1,> 2 Years,Yes,27,3
3,21,28619.0,1,Male,152.0,1,11.0,0,< 1 Year,No,203,4
4,29,27496.0,1,Female,152.0,1,41.0,0,< 1 Year,No,39,5

# Створення колонок і операції над колонками

Створити колонку - дуже просто. Просто пропишіть її назву в квадратних дужках і надайте значення.

In [60]:
df['New col'] = 3/10

In [61]:
df['New col']

0         0.3
1         0.3
2         0.3
3         0.3
4         0.3
         ...
381104    0.3
381105    0.3
381106    0.3
381107    0.3
381108    0.3
Name: New col, Length: 381109, dtype: float64

Ви можете також задати значення для кожного рядка і таким чином визначити колонку.

In [62]:
import random
values = [random.choice([1,2,3]) for _ in range(len(df))]

In [63]:
df['random_category'] = values

Ви можете створити колонку на базі значень іншої колонки.

In [64]:
df['new_cat'] = df.random_category + 1

In [65]:
df[['new_cat', 'random_category']]

        new_cat  random_category
0             3                2
1             3                2
2             2                1
3             4                3
4             2                1
...         ...              ...
381104        4                3
381105        3                2
381106        4                3
381107        3                2
381108        3                2

[381109 rows x 2 columns]

Логіка може бути будь-якою, але якщо вона складніша за прості операції - використовуємо apply. Метод apply в бібліотеці Pandas використовується для застосування функції вздовж осі DataFrame або на Series. Цей метод дуже потужний і гнучкий, оскільки він дозволяє виконувати складні операції над рядками або колонками.

Розглянемо простий приклад:

In [66]:
df['new_cat'] = df.random_category.apply(lambda x: 'Small' if x<=1 else 'Big' )

In [67]:
df[['random_category', 'new_cat']].head()

   random_category new_cat
0                2     Big
1                2     Big
2                1   Small
3                3     Big
4                1   Small

## Lambda

Тут ми передали в apply lambda.
Lambda в Python - це анонімна функція, або функція без імені. Вона є маленькою і зазвичай використовується для виконання простих операцій або функцій одноразового використання, де не потрібно використовувати повноцінну функцію з визначенням `def`.

Lambda функції в Python визначаються за допомогою ключового слова `lambda` і мають наступний синтаксис:

```python
lambda arguments: expression
```

Основні особливості lambda функцій:

- Lambda функція може приймати будь-яку кількість аргументів, але може містити тільки один вираз.
- Вираз обчислюється і повертається при виклику lambda функції.
- Lambda функції можуть бути використані всюди, де вимагається об'єкт функції.
- Вони часто використовуються як аргументи для функцій вищого порядку, які приймають функцію як аргумент (наприклад, `map()`, `filter()`, `apply()` в Pandas і т.д.).

Приклад lambda функції, яка додає 10 до поданого їй числа:

In [68]:
add_ten = lambda x, y: x + y + 10
print(add_ten(5,2))

17

In [69]:
my_lambda = lambda x: 'Small' if x<=1 else 'Big'

In [70]:
my_lambda(5)

'Big'

Lambda функції можна використовувати без присвоєння їх змінній, наприклад, використовувати їх безпосередньо як аргументи інших функцій:

In [71]:
numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x ** 2, numbers)
print(list(squared))

[1, 4, 9, 16, 25]

Lambda функції корисні, коли потрібна проста функція для короткого використання і не хочеться визначати повноцінну функцію за допомогою `def`.

## Передача функції в `apply`

Якщо ви не можете вмістити логіку в один рядок, пишемо функцію.

In [72]:
def category_mapping(val):
    if val == 1:
        return 'Small'
    elif val == 2:
        return 'Medium'
    else:
        return 'Large'

In [73]:
df['new_cat'] = df.random_category.apply(lambda x: category_mapping(x))
df[['random_category', 'new_cat']].head()

   random_category new_cat
0                2  Medium
1                2  Medium
2                1   Small
3                3   Large
4                1   Small

Можна ще спростити синтаксис. Насправді, lambda нам тут вже не треба.

In [74]:
df['new_cat'] = df.random_category.apply(category_mapping)
df[['random_category', 'new_cat']].head()

   random_category new_cat
0                2  Medium
1                2  Medium
2                1   Small
3                3   Large
4                1   Small

## Порівняння колонок

Коли ви порівнюєте колонку в DataFrame з певним значенням, Pandas повертає Series типу `bool`, де кожне значення показує, чи відповідає елемент в колонці заданому критерію порівняння.

In [75]:
df['new_cat'] != 'Small'

0          True
1          True
2         False
3          True
4         False
          ...
381104     True
381105     True
381106     True
381107     True
381108     True
Name: new_cat, Length: 381109, dtype: bool

Цей підхід також застосовується при порівнянні колонок між собою, але операція порівняння буде виконана успішно лише якщо колонки мають однакову довжину.

In [76]:
df['new_cat_duplicate'] = df['new_cat']

In [77]:
df['new_cat_duplicate'] == df['new_cat']

0         True
1         True
2         True
3         True
4         True
          ...
381104    True
381105    True
381106    True
381107    True
381108    True
Length: 381109, dtype: bool

Аби отримати результат перевірки на рівність колонок, використовуємо спеціальний метод numpy alltrue.

In [78]:
np.alltrue(df['new_cat_duplicate'] == df['new_cat'])

AttributeError: `np.alltrue` was removed in the NumPy 2.0 release. Use `np.all` instead.

АЛЕ! Числові (з дійсними числами) колонки так порівнювати не варто, тому що:

In [79]:
(0.1 + 0.2) == 0.3

False

Це пов'язано з тим, як числа з плаваючою комою представлені в комп'ютерній пам'яті. Комп'ютери використовують двійкову систему числення для зберігання даних, і через це виникають складнощі з точним представленням деяких десяткових дробів. Точно в компʼютері представляються лише дійсні числа, які є результатом ділення чцілого числа на інше ціле, яке є степенем двійки.

Дійсні числа в двійковій системі представляються за допомогою формату, званого числом з плаваючою комою (floating-point). Стандарт IEEE 754 є найбільш використовуваним способом представлення дійсних чисел у комп'ютерних системах.



Для тих, хто хоче дізнатись, чому так ...

Ось як відбувається двійкове представлення дійсних чисел в памʼяті компʼютера:

1. **Нормалізоване двійкове наукове записання:**
   Спершу число представляється у вигляді наукового записання. Наприклад, десяткове число 123.45 може бути записане як \(1.2345 \times 10^2\) у десятковому вигляді, і подібним чином, в двійковій системі це може бути щось на кшталт \(1.1111011 \times 2^6\).

2. **Розділення на складові:**
   Число з плаваючою комою розділяється на три частини: знак, експонента, та мантиса (або значущі цифри).
   
   - **Знак (Sign):** Одиночний біт визначає знак числа: 0 для позитивних та 1 для негативних чисел.
   - **Експонента (Exponent):** Використовується для визначення ступеня для основи 2. Часто експонента зберігається як "зміщена" (biased) величина, щоб можна було представляти як додатні, так і від'ємні степені.
   - **Мантиса (Mantissa) або Дробова частина (Fraction):** Це власне цифри (біти) числа. У нормалізованому форматі перший біт (який завжди 1 у нормалізованому числі) часто опускається, тому що він завжди відомий, що дозволяє зекономити місце.

3. **Приклад двійкового представлення:**
   Якщо уявити число 0.85 у двійковій системі, воно буде мати нескінченне представлення. У двійковій формі це може виглядати як \(0.11011100001...\) та так далі. Оскільки комп'ютери обмежені кількістю бітів, що можуть зберігати числа, це число буде обрізане/округлене до певної кількості бітів.

4. **Округлення:**
   Оскільки збереження точного значення дійсних чисел часто неможливе, використовуються різні методи округлення, щоб максимально наблизитися до дійсного значення в межах доступних бітів.

5. **Приклади використання:**
   - **32-бітне числа з плаваючою комою (одинарна точність):** Має 1 біт для знаку, 8 бітів для експоненти, та 23

 біти для мантиси.
   - **64-бітне числа з плаваючою комою (подвійна точність):** Має 1 біт для знаку, 11 бітів для експоненти, та 52 біти для мантиси.

Через ці обмеження і специфіку представлення, числа з плаваючою комою в комп'ютері можуть мати проблеми з точністю, які важливо розуміти при виконанні обчислень, особливо тих, що накопичують помилки округлення.

Можемо на практиці спостерігати такий ефект:

In [80]:
df['float_const_col_1'] = 0.1
df['float_const_col_2'] = 0.2
df['float_const_col_3'] = 0.3

In [81]:
np.alltrue(df['float_const_col_1'] + df['float_const_col_2'] == df['float_const_col_3'] )

AttributeError: `np.alltrue` was removed in the NumPy 2.0 release. Use `np.all` instead.

Аби його уникнути, при порівнянні дійсних чисел використовуємо np.isclose!

In [82]:
np.alltrue(np.isclose(df['float_const_col_1'] + df['float_const_col_2'] , df['float_const_col_3'] ))

AttributeError: `np.alltrue` was removed in the NumPy 2.0 release. Use `np.all` instead.

In [83]:
np.isclose(0.1 + 0.2, 0.3)

np.True_

## Перетворення типу колонки

В бібліотеці Pandas для зміни типу даних (dtype) елементів об'єкта DataFrame або Series використовується метод `astype`.
Це може бути корисно, коли ви хочете перетворити типи даних з одного типу в інший, наприклад, з `float` в `int`, з `object` (рядки в Pandas) в `category` для оптимізації пам'яті, або коли вам потрібно змусити числові дані, що були прочитані як рядки через наявність в даних помилок, повернутися до відповідного числового формату.

**Синтаксис**

```python
DataFrame.astype(dtype, copy=True, errors='raise')
```

- `dtype`: це може бути Python тип, numpy тип, або словник, де ключами є імена колонок, а значеннями - нові типи даних для цих колонок.
- `copy`: якщо `True`, повертає копію DataFrame, інакше (за можливості) змінює оригінальний DataFrame.
- `errors`: керує тим, що робити, якщо перетворення викликає помилку. Значеннями можуть бути 'raise' (підняти помилку), 'ignore' (ігнорувати помилки і повернути оригінальний об'єкт).

In [84]:
df.random_category.head()

0    2
1    2
2    1
3    3
4    1
Name: random_category, dtype: int64

In [85]:
df['random_category_str'] = df.random_category.astype(str)

In [86]:
df[['random_category', 'random_category_str']].dtypes

random_category         int64
random_category_str    object
dtype: object

In [87]:
type(df.random_category_str.loc[0])

str

Тип даних `category` в Pandas — це спеціалізований тип даних для зберігання категоріальних даних. Категоріальні дані визначаються наявністю обмеженої кількості унікальних значень замість неперервного спектру значень. Цей тип даних є особливо корисним для аналізу даних, оскільки він може значно зменшити використання пам'яті, особливо коли категорій небагато порівняно з загальною кількістю спостережень, і може покращити продуктивність деяких операцій.

**Особливості типу `category`**

- **Ефективність використання пам'яті:** Зберігаючи дані як `category`, Pandas використовує менше пам'яті, особливо коли категорій мало порівняно з кількістю рядків. Всі унікальні значення зберігаються лише один раз, а в самому DataFrame або Series зберігається лише коди для кожного спостереження.
- **Покращена продуктивність:** Деякі операції, такі як сортування, групування або виконання агрегацій, можуть працювати швидше на категоріальних даних через оптимізоване внутрішнє представлення.
- **Логічне впорядкування:** Категоріальні дані можуть мати впорядкований (наприклад, "низький", "середній", "високий") або невпорядкований характер. Впорядковані категорії дозволяють виконувати порівняння.
- **Підтримка категоріальних операцій:** Тип `category` дозволяє виконувати специфічні для категорій операції, такі як переіменування категорій, об'єднання категорій, встановлення порядку тощо.

In [88]:
df['new_cat_cat'] = df.new_cat.astype('category')

In [89]:
df['new_cat_cat']

0         Medium
1         Medium
2          Small
3          Large
4          Small
           ...
381104     Large
381105    Medium
381106     Large
381107    Medium
381108    Medium
Name: new_cat_cat, Length: 381109, dtype: category
Categories (3, object): ['Large', 'Medium', 'Small']

У цьому прикладі стовпець `color` містить повторювані значення, і перетворення його на тип `category` зменшить використання пам'яті, зберігши кожне унікальне значення лише один раз та використовуючи цілочисельні коди для представлення кожного спостереження в стовпці. Порівняти використання памʼяті ми вже вміємо.

In [90]:
df[['new_cat_cat', 'new_cat']].memory_usage()

Index              132
new_cat_cat     381241
new_cat        3048872
dtype: int64

## Агрегаційні операції над колонками

Агрегаційні операції в Pandas використовуються для обчислення статистичних показників з даних, які містяться у DataFrame або Series. Ці операції дозволяють підсумувати велику кількість даних в одне значення, яке надає інформацію про групу даних загалом. Деякі з найбільш використовуваних агрегаційних функцій включають `mean()` для обчислення середнього, `sum()` для суми, `min()` і `max()` для мінімального і максимального значення, відповідно, а також `count()`, `std()` (стандартне відхилення), і `var()` (дисперсія).

Коли використовуються агрегаційні функції, вони можуть застосовуватися як до цілого DataFrame, так і до окремих колонок.

Наприклад, давайте обчислимо, який середній вік і стандартне відхилення віку в наборі даних?

In [91]:
df.Age.mean(), df.Age.std()

(np.float64(38.822583565331705), 15.511611018090681)

Аналогічно, ми можемо використати агрегаційну функцію одразу до кількох колонок (до всіх, або вибірки).

In [92]:
df[['Age', 'Response']].mean()

Age         38.822584
Response     0.122563
dtype: float64

In [93]:
df[['Age', 'Response']].mode()

   Age  Response
0   24         0

Перелік всіх методів колонок можна знайти тут
https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html#seriesgroupby-computations-descriptive-stats

Приклад "менш стандартного" метода колонки:

In [94]:
df.Age.nlargest(4)

48875     85
100683    85
109851    85
137703    85
Name: Age, dtype: int64

## Використання методу `agg()`

Метод `agg()` дозволяє застосувати кілька агрегаційних функцій одночасно до DataFrame або до окремих колонок. Це може бути особливо корисно для отримання різних статистичних показників одночасно.

In [95]:
df[['Age', 'Response']].agg(['mean', 'min', 'max']).round(3)

         Age  Response
mean  38.823     0.123
min   20.000     0.000
max   85.000     1.000

# Видалення колонок

Видалити колонку так само просто - використовуємо метод drop.

In [96]:
df.drop(columns=['random_category'])

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,New col,new_cat,new_cat_duplicate,float_const_col_1,float_const_col_2,float_const_col_3,random_category_str,new_cat_cat
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1,0.3,Small,Small,0.1,0.2,0.3,1,Small
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0,0.3,Large,Large,0.1,0.2,0.3,3,Large
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0,0.3,Small,Small,0.1,0.2,0.3,1,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,1,26.0,1,1-2 Year,No,30170.0,26.0,88,0,0.3,Large,Large,0.1,0.2,0.3,3,Large
381105,381106,Male,30,1,37.0,1,< 1 Year,No,40016.0,152.0,131,0,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium
381106,381107,Male,21,1,30.0,1,< 1 Year,No,35118.0,160.0,161,0,0.3,Large,Large,0.1,0.2,0.3,3,Large
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium

Зверніть увагу! Метод повернув нам датафрейм. Це означає, що оригінальний датафрейм не був змінений і колонка ще на місці.
Якщо ви хочете одразу внести зміни - використайте аргумент `inplace=True`. Інша опція - записати зміни в нову змінну.

In [97]:
new_df = df.drop(columns=['random_category'])

In [98]:
new_df.columns, df.columns

(Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
        'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
        'Policy_Sales_Channel', 'Vintage', 'Response', 'New col', 'new_cat',
        'new_cat_duplicate', 'float_const_col_1', 'float_const_col_2',
        'float_const_col_3', 'random_category_str', 'new_cat_cat'],
       dtype='object'),
 Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
        'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
        'Policy_Sales_Channel', 'Vintage', 'Response', 'New col',
        'random_category', 'new_cat', 'new_cat_duplicate', 'float_const_col_1',
        'float_const_col_2', 'float_const_col_3', 'random_category_str',
        'new_cat_cat'],
       dtype='object'))

In [102]:
df.drop(columns=['random_category'], inplace=True)

In [100]:
df.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response', 'New col', 'new_cat',
       'new_cat_duplicate', 'float_const_col_1', 'float_const_col_2',
       'float_const_col_3', 'random_category_str', 'new_cat_cat'],
      dtype='object')

До речі, в pandas є аргумент в деяких функціях `axis=1`, який завжди каже про те, що операції будуть виконуватись на рівні колонок. За замовченням у нас завжди операції виконуються на рівні рядочків (`axis=0`).
Наприклад, так видалення не справцює, бо перший аргумент  df.drop() - це лейбл індекса, а пошук лейбла іде за індексами рядків за замовченням і там такого немає.

In [104]:
df.drop('Annual_Premium').head()

In [105]:
# а так спрацює, бо є відповідний індекс в рядках
df.drop([0,1,4]).head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,New col,new_cat,new_cat_duplicate,float_const_col_1,float_const_col_2,float_const_col_3,random_category_str,new_cat_cat
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1,0.3,Small,Small,0.1,0.2,0.3,1,Small
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0,0.3,Large,Large,0.1,0.2,0.3,3,Large
5,6,Female,24,1,33.0,0,< 1 Year,Yes,2630.0,160.0,176,0,0.3,Small,Small,0.1,0.2,0.3,1,Small
6,7,Male,23,1,11.0,0,< 1 Year,Yes,23367.0,152.0,249,0,0.3,Small,Small,0.1,0.2,0.3,1,Small
7,8,Female,56,1,28.0,0,1-2 Year,Yes,32031.0,26.0,72,1,0.3,Large,Large,0.1,0.2,0.3,3,Large

In [106]:
# тож, аби видалити колонку, або зазначаємо аргумент columns=, або вказуємо axis=1
df.drop('Annual_Premium', axis=1).head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Policy_Sales_Channel,Vintage,Response,New col,new_cat,new_cat_duplicate,float_const_col_1,float_const_col_2,float_const_col_3,random_category_str,new_cat_cat
0,1,Male,44,1,28.0,0,> 2 Years,Yes,26.0,217,1,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium
1,2,Male,76,1,3.0,0,1-2 Year,No,26.0,183,0,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium
2,3,Male,47,1,28.0,0,> 2 Years,Yes,26.0,27,1,0.3,Small,Small,0.1,0.2,0.3,1,Small
3,4,Male,21,1,11.0,1,< 1 Year,No,152.0,203,0,0.3,Large,Large,0.1,0.2,0.3,3,Large
4,5,Female,29,1,41.0,1,< 1 Year,No,152.0,39,0,0.3,Small,Small,0.1,0.2,0.3,1,Small

Аналогічно з усіма операціями, які можуть бути виконані як над рядками, так і над колонками.
Наприклад, якщо ми хочемо зробити обчислення використовуючи кілька колонок, а не одну - завжди треба зазначати axis=1.

In [107]:
df.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response', 'New col', 'new_cat',
       'new_cat_duplicate', 'float_const_col_1', 'float_const_col_2',
       'float_const_col_3', 'random_category_str', 'new_cat_cat'],
      dtype='object')

In [108]:
def multicol_calculation(row):
    return row['Age'] - row['Vintage']/365

In [109]:
df['complex_calcl_col'] = df.apply(multicol_calculation, axis=1)

In [110]:
df['complex_calcl_col']

0         43.405479
1         75.498630
2         46.926027
3         20.443836
4         28.893151
            ...
381104    73.758904
381105    29.641096
381106    20.558904
381107    67.797260
381108    45.350685
Name: complex_calcl_col, Length: 381109, dtype: float64

# Запис датафрейма у файл

Записувати датафрейм ми можемо в різні формати. Найчастіше ви будете записувати його в csv.

In [111]:
df.sort_values('Age')[:10].to_csv('res_lecture_3.csv')

In [112]:
pd.read_csv('res_lecture_3.csv', index_col=0)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,...,Response,New col,new_cat,new_cat_duplicate,float_const_col_1,float_const_col_2,float_const_col_3,random_category_str,new_cat_cat,complex_calcl_col
67915,67916,Male,20,1,24.0,0,< 1 Year,Yes,27448.0,160.0,...,0,0.3,Large,Large,0.1,0.2,0.3,3,Large,19.290411
6316,6317,Male,20,1,27.0,1,< 1 Year,No,2630.0,160.0,...,0,0.3,Small,Small,0.1,0.2,0.3,1,Small,19.810959
193265,193266,Female,20,1,42.0,0,< 1 Year,Yes,2630.0,160.0,...,0,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium,19.945205
374102,374103,Male,20,1,8.0,1,< 1 Year,No,35073.0,160.0,...,0,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium,19.339726
6332,6333,Male,20,1,17.0,0,< 1 Year,Yes,30618.0,160.0,...,0,0.3,Small,Small,0.1,0.2,0.3,1,Small,19.586301
250926,250927,Female,20,1,27.0,0,< 1 Year,No,24083.0,160.0,...,0,0.3,Small,Small,0.1,0.2,0.3,1,Small,19.268493
339792,339793,Female,20,1,41.0,1,< 1 Year,No,23773.0,160.0,...,0,0.3,Small,Small,0.1,0.2,0.3,1,Small,19.367123
329884,329885,Female,20,1,12.0,1,< 1 Year,No,28026.0,160.0,...,0,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium,19.358904
329881,329882,Female,20,1,39.0,1,< 1 Year,No,35899.0,160.0,...,0,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium,19.200000
46799,46800,Male,20,1,29.0,1,< 1 Year,No,2630.0,160.0,...,0,0.3,Large,Large,0.1,0.2,0.3,3,Large,19.468493

Аби не записувалась колонка з індексом, пишемо наступним чином

In [113]:
df.to_csv('res_lecture_3.csv', index=False)

In [114]:
pd.read_csv('res_lecture_3.csv', nrows=5)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,...,Response,New col,new_cat,new_cat_duplicate,float_const_col_1,float_const_col_2,float_const_col_3,random_category_str,new_cat_cat,complex_calcl_col
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,...,1,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium,43.405479
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,...,0,0.3,Medium,Medium,0.1,0.2,0.3,2,Medium,75.498630
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,...,1,0.3,Small,Small,0.1,0.2,0.3,1,Small,46.926027
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,...,0,0.3,Large,Large,0.1,0.2,0.3,3,Large,20.443836
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,...,0,0.3,Small,Small,0.1,0.2,0.3,1,Small,28.893151